.mt-40 {
  margin-top: 40px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.gap {
  gap: 50px;
}

.bg-own {
  background-color: #212329;
  color: white;
}

.wrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.m-p-bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}

.favourite-btn {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 10px;
  outline: none;
  border: none;
  font-size: 13px;
}

.iconFav {
  position: absolute;
  top: 2px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-radius: 20px;
  height: 16px;
  width: 16px;
}

.num {
  padding: 0px 2px 2px 0px;
  font-size: 14px;
  font-weight: bold;
}

.ps-rel {
  position: relative;
  width: 85px;
}

.bg-green {
  background-color: green;
}

.min-h {
  min-height: 70px;
}
